.container {
  display: grid;
  height: 952px;
  place-items: center;
  width: 100%;
}

.carousel-container {
  visibility: visible;
  display: flex;
  overflow: visible;
  width: 70%;
  height: 100%;
  max-height: none;
  left: 0px;
  opacity: 1;
  align-items: inherit;
  box-sizing: border-box;
  justify-content: space-evenly;
  flex-direction: row;
}

.carousel-item {
  transform: scale(0.8); // Inicia com uma escala menor
  perspective: 6000px;
  width: 500px;
  height: 100%;
  overflow: hidden;
  transform-style: flat;
  z-index: 87;
  transform-origin: 50% 50% 0px;
  left: 1637px;
  transition: all 0.3s;

  &:nth-child(2n+1) {
    transform: scale(0.6);
  }

  img {
    transform: scale(1); // Escala completa para o slide ativo
    transform: scale(0.8);
    perspective: 6000px;
    width: 500px;
    height: 100%;
    overflow: hidden;
    transform-style: flat;
    z-index: 87;
    transform-origin: 50% 50% 0px;
  }
}

.active-slide {
  // width: 500px; /* Largura fixa */
  // height: 500px; /* Altura fixa */
  // opacity: 1;
  // visibility: visible;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
}
