<div class="page-title">
    <div class="spacer--medium"></div>
    <div data-testid="Title" class="title">
        <h2 class="text-title">Confirmação de presença</h2>
    </div>
    <div class="subtitle">
        <h2 class="text-subtitle">Faça parte do capítulo mais importante das nossas vidas, confirmando sua presença e
            trazendo ainda mais amor
            a essa ocasião.</h2>
    </div>
    <div _ngcontent-irp-c7="" class="decorative-divider">
        <span _ngcontent-irp-c7="" class="decorative-divider-icon">
            <svg _ngcontent-irp-c7="" width="100" height="35" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs _ngcontent-irp-c7="">
                    <path _ngcontent-irp-c7="" id="divider_svg__a" d="M0 0h72v22H0z"></path>
                </defs>
                <g _ngcontent-irp-c7="" fill="none" fill-rule="evenodd">
                    <mask _ngcontent-irp-c7="" id="divider_svg__b" fill="#fff">
                        <use _ngcontent-irp-c7="" xlink:href="#divider_svg__a"></use>
                    </mask>
                    <image _ngcontent-irp-c7="" x="0" y="0" width="100" height="35"
                        xlink:href="assets/images/sakura.png"></image>
                </g>
            </svg>
        </span>
    </div>
    <div class="spacer--medium"></div>
</div>