.container {
    border: 1px solid black;
    display: block;
    padding: 8px;  
    
    label {        
        display: block;
        transition: 0.2s all;
        transform: translateY(10px);    
    }

    input, input:focus {
        border: none;
        outline: none;
    }

    &:focus-within label {
        transform: translateY(0);    
    }

    .input-filled {
        transform: translateY(0); 
    }
}
