.container {
    border: 1px solid #d0cfc9;
    box-sizing: border-box;
    color: rgb(34, 48, 87);
    display: block;
    font-size: 14px;
    height: 56px;
    margin: 24px 0;
    padding: 5px;


    label {
        display: block;
        transition: 0.1s all;
        transform: translateY(10px);
    }

    input, input:focus {
        border: none;
        outline: none;
        width: 325px;
    }

    &:focus-within {
        border: 1px solid var(--base-color);
    }

    &:focus-within label {
        text-transform: uppercase;
        transform: translateY(-6px);
    }

    .input-filled {
        transform: translateY(-6px);
    }
}
