<div class="album">
    <section class="recent-photos"><span class="recent-photos-title">
            <div data-testid="TitlePhotos" class="title">
                <h2 class="text-title">Fotos recentes</h2>
            </div>
        </span>
        <div data-testid="RecentPhotosGrid" class="recent-photos-grid">
            <div class="photos"
                style="background-image: url(../../../../../assets/images/1.jpeg); background-position: center center; background-size: cover;">
            </div>
            <div class="photos"
                style="background-image: url(../../../../../assets/images/2.jpeg); background-position: center center; background-size: cover;">
            </div>
            <div class="photos"
                style="background-image: url(../../../../../assets/images/3.jpeg); background-position: center center; background-size: cover;">
            </div>
            <div class="photos"
                style="background-image: url(../../../../../assets/images/4.jpeg); background-position: center center; background-size: cover;">
            </div>
            <div class="photos"
                style="background-image: url(../../../../../assets/images/5.jpeg); background-position: center center; background-size: cover;">
            </div>
            <div class="photos"
                style="background-image: url(../../../../../assets/images/6.jpeg); background-position: center center; background-size: cover;">
            </div>
            <div class="photos"
                style="background-image: url(../../../../../assets/images/9.jpeg); background-position: center center; background-size: cover;">
            </div>
            <div class="photos"
                style="background-image: url(../../../../../assets/images/10.jpeg); background-position: center center; background-size: cover;">
            </div>
        </div>
    </section>
</div>