<app-attendance-title></app-attendance-title>
<app-attendance-confirmation></app-attendance-confirmation>

<div class="sc-mnuSN fmJfDX"><div class="sc-gjSMvs cSaupS"><span data-testid="rsvpV2GuestName">Acompanhantes
</span></div><div class="sc-dHMYQP jOMnRl"><button disabled="" data-testid="rsvpV2GuestDecrease"
    class="sc-jFsqtu iQhwR"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="21">
        <g fill="none" fill-rule="evenodd" transform="translate(0 .06)"><circle cx="10" cy="10" r="9.5"
            stroke="#E0E0E0"></circle><path fill="#080808" d="M4 9.5h12v1H4z"></path></g></svg></button><div
            data-testid="rsvpV2GuestQuantity" class="sc-dSgHSt gNCTao quantity-box">0</div><button
            data-testid="rsvpV2GuestIncrease" class="sc-jFsqtu hSUzsl"><svg xmlns="http://www.w3.org/2000/svg"
            width="20" height="21"><g fill="none" fill-rule="evenodd" transform="translate(0 .06)">
                <circle cx="10" cy="10" r="9.5" stroke="#E0E0E0"></circle><path fill="#080808"
                d="M10.5 4v5.5H16v1h-5.5V16h-1v-5.5H4v-1h5.5V4h1z"></path></g></svg></button></div></div>