.title {
    color: var(--text-general-color);
    font-size: 22px;
    letter-spacing: 4px;
    margin: 100px 0;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    .title {
        margin: 36px 0;
    }
}
