<!-- <div class="container-order">
    <div class="order">
        <span>Ordenar por: </span>
        <label [class.selected]="radioValueHigh.checked" for="order-value-high" class="order-value">
            Maior Preço
            <input #radioValueHigh type="radio" id="order-value-high" name="order-value" value="high" (change)="reorderProducts('value', 'growing')">
        </label>
        <label [class.selected]="radioValueLow.checked" for="order-value-low" class="order-value">
            Menor Preço
            <input #radioValueLow type="radio" id="order-value-low" name="order-value" value="low" (change)="reorderProducts('value', 'descending')">
        </label>
    </div>
</div> -->

<div class="container">
    <div class="content">
        <ng-container *ngFor="let gift of giftList">
            <app-gifts-product [image]="gift.image" [description]="gift.description" [value]="gift.value" />
        </ng-container>
    </div>
</div>