
<body>
  <header class="header">
    <div class="logo">
      S&M
    </div>
    <nav class="menu">
      <div class="dropdown">
        <ng-container *ngFor="let menu of dropdownMenus">
          <app-dropdown [dropdownTitle]="menu.dropdownTitle" [dropdownContent]="menu.dropdownContent"></app-dropdown>
        </ng-container>

        <!-- <app-dropdown dropdownTitle="Presentes"></app-dropdown>
        <app-dropdown dropdownTitle="Confirmar Presença"></app-dropdown>
        <app-dropdown dropdownTitle="Idiomas"></app-dropdown> -->
        <!-- <a class="dropdown-trigger">Páginas</a>
        <div class="dropdown-content">
          <a href="/">Página Inicial</a>
          <a href="about">Nossa História</a>
          <a href="messages">Mensagens</a>
        </div> -->
      </div>
      <!-- <div class="dropdown">
        <a class="dropdown-trigger">Presentes</a>
        <div class="dropdown-content">
          <a href="gifts">Lista de Presente</a>
        </div>
      </div>
      <div class="dropdown">
        <a class="dropdown-trigger">Confirmar Presença</a>
        <div class="dropdown-content">
          <a href="attendance">Casamento</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="#" class="dropdown-trigger">Idioma</a>
        <div class="dropdown-content">
          <a href="#">Português</a>
          <a href="#">Espanhol</a>
          <a href="#">Francês</a>
          <a href="#">Alemão</a>
        </div>
      </div> -->
    </nav>
  </header>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const dropdownTriggers = document.querySelectorAll('.dropdown-trigger');

      dropdownTriggers.forEach(trigger => {
        trigger.addEventListener('click', (event) => {
          event.preventDefault();
          const dropdown = trigger.closest('.dropdown');
          const dropdownContent = dropdown.querySelector('.dropdown-content');

          // Fecha todos os outros dropdowns antes de abrir este
          document.querySelectorAll('.dropdown.open').forEach(openDropdown => {
            if (openDropdown !== dropdown) {
              openDropdown.classList.remove('open');
            }
          });

          dropdown.classList.toggle('open');

          // Fecha o dropdown quando o usuário clica fora dele
          if (dropdown.classList.contains('open')) {
            const closeDropdown = (event) => {
              if (!dropdown.contains(event.target)) {
                dropdown.classList.remove('open');
                document.removeEventListener('click', closeDropdown);
              }
            };
            document.addEventListener('click', closeDropdown);
          }
        });
      });
    });
  </script>
</body>
