/* Importando fontes ou outros estilos, se necessário */

/* Definindo variáveis comuns */
$primary-color: #007bff;
$secondary-color: #333;

/* Estilos para o header */
.header {
  display: flex;
  height: 99px;
  width: 98%;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1rem 6rem;
  position: fixed;
  box-sizing: border-box;
  transition: all 1s;

}

/* Estilos do Logotipo */
.logo {
  font-size: 35px;
  font-family: Montserrat-Medium;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdown {
  display: flex;
}

.a-content {
  font-family: Monotype Corsiva;
  margin: 5px 0;
  a {
      text-decoration: none;
  }
}

.show-background-header {
  background-color: white;
  color: #007bff;
}

@media only screen and (max-width: 768px) {
  .header {
    height: 65px;
    padding: 0 16px;

    .logo {
      font-size: 28px;
    }

    .menu {
      display: none;
    }

    .menu-mobile {
      color: black;
      
      .menu-mobile-content {
        border-top: 1px solid var(--base-color);
        left: 2px;
        margin-top: 48px;
        position: absolute;
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .menu-mobile {
    display: none;
  }
}