/* Importando fontes ou outros estilos, se necessário */

/* Definindo variáveis comuns */
$primary-color: #007bff;
$secondary-color: #333;

/* Estilos para o header */
.header {
  display: flex;
  height: 99px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
}

/* Estilos do Logotipo */
.logo {
  font-size: 35px;
  font-family: Montserrat-Medium;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdown {
  display: flex;
}