<header class="header" [ngClass]="{ 'show-background-header': headerService.positionWindow > 0 }">
  <div class="logo">
    <a href="/">S&M</a>
  </div>
  <nav class="menu">
    <div class="dropdown">
      <ng-container *ngFor="let menu of dropdownMenus">
        <app-dropdown
          [dropdownTitle]="menu.dropdownTitle"
          [dropdownContent]="menu.dropdownContent"
          [dropdownId]="menu.dropdownId"></app-dropdown>
      </ng-container>
    </div>
  </nav>
  <nav class="menu-mobile">
    <svg clip-rule="evenodd" height="28" width="28" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m22 16.75c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75z" fill-rule="nonzero"/></svg>
    <app-menu-mobile class="menu-mobile-content"></app-menu-mobile>
  </nav>
</header>