<div class="countdown">
    <div>
        <span style="opacity: 0;">.</span>
        <span class="countdown-number">15</span>
        <span class="countdown-text">Days</span>
    </div>
    <div>
        <span style="opacity: 0;">.</span>
        <span class="countdown-number">15</span>
        <span class="countdown-text">Hours</span>
    </div>
    <div>
        <span style="opacity: 0;">.</span>
        <span class="countdown-number">15</span>
        <span class="countdown-text">Minutes</span>
    </div>
    <div>
        <span style="opacity: 0;">.</span>
        <span class="countdown-number">15</span>
        <span class="countdown-text">Seconds</span>
    </div>
</div>
