<!-- <div>
    <div class="sc-jEUrFJ iwsdwa message-form">
        <form class="sc-dNUOEE dlvKMM">
            <div class="sc-gqplIC GvhPo">
                <div class="sc-cxRJHX jFqSOD text-input"><input id="name" type="text" name="name"
                        class="sc-htObEk bypdju text-input__input--invalid"><label for="name" data-empty="true"
                        class="sc-gdKWHD lghRma text-input__label">Nome completo</label>
                    <div class="sc-fkapWo fFnYll text-input__icon--invalid"><svg viewBox="0 0 17 17" width="12"
                            height="12">
                            <g fill="#000" fill-opacity=".54" fill-rule="nonzero">
                                <path d="M0 15.556L15.557 0l.707.707L.707 16.263z"></path>
                                <path d="M.707 0l15.556 15.557-.707.707L0 .707z"></path>
                            </g>
                        </svg></div>
                </div>
                <p class="sc-brCNVJ dtGaPW text-input__hint--invalid">O campo nome é obrigatório.</p>
            </div>
            <div class="sc-gqplIC GvhPo">
                <div class="sc-cxRJHX jFqSOD text-input"><input id="email" type="email" name="email"
                        class="sc-htObEk bypdju text-input__input--invalid"><label for="email" data-empty="true"
                        class="sc-gdKWHD lghRma text-input__label">E-mail</label>
                    <div class="sc-fkapWo fFnYll text-input__icon--invalid"><svg viewBox="0 0 17 17" width="12"
                            height="12">
                            <g fill="#000" fill-opacity=".54" fill-rule="nonzero">
                                <path d="M0 15.556L15.557 0l.707.707L.707 16.263z"></path>
                                <path d="M.707 0l15.556 15.557-.707.707L0 .707z"></path>
                            </g>
                        </svg></div>
                </div>
                <p class="sc-brCNVJ dtGaPW text-input__hint--invalid">O campo email é obrigatório.</p>
            </div>
            <div class="sc-gqplIC GvhPo">
                <div class="sc-cxRJHX jFqSOD text-input">
                    <div data-focus="false" class="sc-dBqzDF bVOwWk text-input__text-area--invalid"><textarea
                            id="message" name="message" rows="4" maxlength="4000" class="sc-jWiyIi fQPGYm"></textarea>
                    </div><label for="message" data-empty="true"
                        class="sc-gdKWHD lghRma text-input__label">Mensagem</label>
                    <div class="sc-fkapWo fFnYll text-input__icon--invalid"><svg viewBox="0 0 17 17" width="12"
                            height="12">
                            <g fill="#000" fill-opacity=".54" fill-rule="nonzero">
                                <path d="M0 15.556L15.557 0l.707.707L.707 16.263z"></path>
                                <path d="M.707 0l15.556 15.557-.707.707L0 .707z"></path>
                            </g>
                        </svg></div>
                </div>
                <p class="sc-brCNVJ dtGaPW text-input__hint--invalid">O campo mensagem é obrigatório</p>
            </div>
            <div class="sc-gEzdPt fAsJPs recaptcha">
                <div class="sc-duIxxy iiahZo recaptcha__badge">
                    <div class="sc-kRGEVP hiPvFY"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="16"
                            viewBox="0 0 16 21">
                            <path fill="#080808" fill-rule="evenodd"
                                d="M14 7h-1V5c0-2.76-2.24-5-5-5S3 2.24 3 5v2H2C.9 7 0 7.9 0 9v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H4.9V5c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z">
                            </path>
                        </svg></div>
                    <p class="sc-cNujqI fgYsjt">Este site é protegido por recaptcha e Google. <a
                            href="https://policies.google.com/privacy">Políticas de privacidade</a> e <a
                            href="https://policies.google.com/terms">termos de serviço</a></p>
                </div>
            </div><button type="submit" class="sc-nTsCk hAExkd button button--primary">Enviar mensagem</button>
        </form>
    </div>
</div> -->

<div class="container">
    <div class="container-title">
        <h2 data-testid="EventName">Casamento</h2>
    </div>

    <form [formGroup]="messageForm" class="box-form">
        <app-input idFor="fullname" label="Nome Completo *" [control]="messageForm.get('author')"></app-input>
        <app-input idFor="email" label="E-mail *" [control]="messageForm.get('email')"></app-input>

        <app-input class="message-box" idFor="message" label="Mensagem *" [control]="messageForm.get('message')"></app-input>

            <div class="container-button">
                <button (click)="sendMessage()">ENVIAR MENSAGEM</button>
            </div>
    </form>
</div>

<div class="sc-NGtlf dzNVND messages">
    <div class="received-messages">Mensagens recebidas</div>
    <app-messages-list [messages]="messageService.messages"></app-messages-list>
</div>