// /* You can add global styles to this file, and also import other style files */


// body {
//     margin: 0;
//     padding: 0;
//     font-family: Arial, sans-serif;
//     line-height: 1.6;
// }

// /* Definindo o grid layout */
// .container {
//     display: grid;
//     grid-template-columns: repeat(12, 1fr);
//     grid-gap: 20px;
// }

// /* Estilos para a imagem principal */
// .image-container {
//     grid-column: 1 / span 12;
//     /* Defina aqui a imagem de fundo e ajuste as propriedades conforme necessário */
// }

// /* Estilos para o cabeçalho e os menus */
// .header {
//     grid-column: 1 / span 12;
//     /* Defina os estilos para o cabeçalho e os menus */
// }

// /* Estilos para o contador de dias */
// .countdown {
//     grid-column: 1 / span 12;
//     /* Defina os estilos para o contador de dias */
// }

// /* Estilos para o carrossel de fotos */
// .carousel {
//     grid-column: 1 / span 12;
//     /* Defina os estilos para o carrossel de fotos */
// }

// /* Estilos para a seção de história do casal */
// .story {
//     grid-column: 1 / span 12;
//     /* Defina os estilos para a seção de história do casal */
// }

// /* Estilos para a seção de mensagens */
// .messages {
//     grid-column: 1 / span 12;
//     /* Defina os estilos para a seção de mensagens */
// }

// /* Estilos para a seção de presentes */
// .gifts {
//     grid-column: 1 / span 12;
//     /* Defina os estilos para a seção de presentes */
// }

// /* Estilos para a seção de confirmação de presença */
// .rsvp {
//     grid-column: 1 / span 12;
//     /* Defina os estilos para a seção de confirmação de presença */
// }
// /* Estilos para dispositivos móveis */
// @media screen and (max-width: 767px) {
//     .container {
//         grid-template-columns: repeat(1, 1fr);
//     }
// }

// /* Estilos para tablets e outros tamanhos de tela */
// @media screen and (min-width: 768px) and (max-width: 1023px) {
//     .container {
//         grid-template-columns: repeat(2, 1fr);
//     }
// }

:root {
    --base-color: #B24A85;
    --detail-color: #FAFAF6;
    --text-general-color: #223057;


}