<div class="about">
    <div class="page-title">
        <div class="spacer-medium"></div>
        <div data-testid="Title" class="title">
            <h2 class="text-title">Nossa história</h2>
        </div>
        <div class="subtitle">
            <h2 class="text-subtitle">Sayuri e Messias se conheceram no trabalho e, mesmo enfrentando desafios e
                distâncias,
                construíram uma história de amor duradoura e significativa. Conheça agora a trajetória desse casal,
                marcada
                por
                cumplicidade e superação.</h2>
        </div>
        <div _ngcontent-irp-c7="" class="decorative-divider">
            <span _ngcontent-irp-c7="" class="decorative-divider-icon">
                <svg _ngcontent-irp-c7="" width="100" height="35" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs _ngcontent-irp-c7="">
                        <path _ngcontent-irp-c7="" id="divider_svg__a" d="M0 0h72v22H0z"></path>
                    </defs>
                    <g _ngcontent-irp-c7="" fill="none" fill-rule="evenodd">
                        <mask _ngcontent-irp-c7="" id="divider_svg__b" fill="#fff">
                            <use _ngcontent-irp-c7="" xlink:href="#divider_svg__a"></use>
                        </mask>
                        <!-- Substitua o elemento path pelo elemento image -->
                        <image _ngcontent-irp-c7="" x="0" y="0" width="100" height="35" xlink:href="assets/images/sakura.png" mask="url(#divider_svg__a)"></image>
                    </g>
                </svg>
            </span>
        </div>

    </div>
    <section class="about-text">
        <section class="text-wrapper">
            <p>&nbsp;</p>

            <p>
                Sayuri e Messias se conheceram no trabalho e, com a ajuda de um amigo, Messias descobriu que Sayuri
                estava
                solteira.
                A partir de um convite para um suposto happy hour, que acabou sendo apenas entre os dois, iniciaram suas
                conversas.
                Em um dia especial, ele a convidou para comer tapioca após o trabalho, e foi nesse momento que aconteceu
                o
                inesperado
                beijo, mudando o rumo de suas vidas. Desde então, passaram a trocar mensagens diariamente e a palavra
                "amor"
                foi escrita
                inúmeras vezes. A única dificuldade em sua história é a distância de quase 80 km entre suas casas, mas a
                saudade que
                sentem apenas fortalece o amor que os une.
            </p>
            <p>
                Enfrentando a distância, Sayuri e Messias encontram forças para seguir juntos, pois a conexão entre eles
                é
                inegável.
                O carinho, o companheirismo e a alegria compartilhada nas conversas diárias mostram o quão sólido é o
                relacionamento que
                construíram. A cada encontro, a paixão é reavivada, e o futuro juntos se torna mais promissor.
            </p>
            <p>
                Com o tempo, o casal aprende a valorizar cada momento que passam juntos, buscando criar memórias
                especiais e
                compartilhando sonhos e planos para o futuro. A determinação em superar a distância e o desejo de
                construir
                uma vida a
                dois só crescem, tornando-os ainda mais comprometidos um com o outro.
            </p>
            <p>
                A cada viagem para encontrarem-se, Sayuri e Messias se sentem em casa, como se o mundo inteiro
                conspirasse a
                favor desse
                amor. Enfrentam desafios com coragem e apoiam-se mutuamente, mostrando que, apesar da distância física,
                estão mais
                próximos do que nunca.
            </p>
            <p>
                Chegou o momento em que Sayuri e Messias decidem dar um passo além: eles vão se casar. O amor que
                cultivaram
                dia após
                dia, superando a distância, está pronto para florescer em uma vida compartilhada. O futuro reserva a
                eles
                muitas
                alegrias e aventuras, mostrando que o verdadeiro amor é capaz de superar qualquer obstáculo. Juntos,
                eles
                seguirão
                escrevendo sua história, construindo um futuro repleto de felicidade e cumplicidade.
            </p>
            <p>&nbsp;</p>

            <div>&nbsp;</div>
        </section>
    </section>

    <div class="photo">
        <div class="photo-content">
            <div class="photo-wrapper">
                <figure class="photo-wrapper-photo"></figure>
            </div>
        </div>
    </div>
</div>