<!-- home-main-pic.component.html -->

<div class="hero-container">
    <div class="info-section">
        <p class="event-title-overlay">Vão se casar</p>
        <p class="event-date-overlay">06/01/2024</p>
    </div>
    <div class="content-section">
        <div class="floating-box">
            <div class="date-marker">06/01</div>
            <div class="content">
                <h2 class="couple-names-overlay">Sayuri &amp; Messias</h2>
            </div>
        </div>
        <div class="image-wrapper">
            <img src="https://docs.google.com/uc?id=1cQsGX4rFeKWRA_3Q09dcPoPZ4KVriMBr" alt="texture">
        </div>
        <div class="background-image"></div>
    </div>
</div>
