/* home-main-pic.component.scss */

.hero-container {
    position: relative;
    width: 100%;
    height: 150vh;
    max-height: calc(69.25vw + 62px);
    display: flex;

}

.content-section {
    width: 100%;
    height: 100%;
    background: var(--main);
    flex: 1 1 0%;
    position: relative;
}

.floating-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 10;
}

// .image-
.background-image {
    width: 100%;
    height: 100%;
    background: url('../../../../../../src/assets/images/3.jpeg') center center / cover no-repeat;
}


.event-title-overlay {
    font-family: var(--base-font-family);
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    bottom: 94px;
    transform: rotateZ(-90deg);
    pointer-events: none;
    text-transform: uppercase;
    z-index: 25;
    left: -52px;
}

.event-date-overlay {
    font-family: var(--base-font-family);
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    right: -40px;
    top: 465px;
    transform: rotateZ(90deg);
    pointer-events: none;
    z-index: 80;
}

// .co
.date-marker {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 53%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 15;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.8);
    font-family: DINCondensed-Bold;
    font-size: 320px;
    font-weight: 900;
    font-stretch: condensed;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(255, 255, 255, 0.02);
}

.content {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 53%;
    display: flex;
    pointer-events: none;
    transform: translate(-50%, -50%);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 10;
}

.couple-names-overlay {
    font-family: Montserrat;
    font-size: min(50px, 8vw);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 24px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}