.container {
    background-color: #FAFAF6;
    display: flex;
    flex-direction: column;
    height: 515px;
    padding: 40px 19px;
    width: 255px;
    margin-bottom: 32px;

    .content-image {
        display: flex;
        height: 50%;
        justify-content: center;

        img {
            height: 215px;
            width: 215px;
            object-fit: contain;
        }
    }

    .content-description {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 50%;
        justify-content: space-between;

        span {
            max-width: 215px;
            text-align: center;
        }

        span.price {
            font-weight: bolder;
        }

        button {
            cursor: pointer;
            background-color: var(--base-color);
            border: none;
            color: white;
            height: 52px;
            text-transform: uppercase;
            width: 147px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        box-sizing: border-box;
        height: 240px;
        padding: 16px 8px;
        position: relative;
        width: 100%;

        .content-image {
            height: 100%;
            justify-content: flex-start;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        .content-description {
            height: initial;
            position: absolute;
            bottom: 0;
        }
    }
}
